*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

:root{
    --col-green: #00A092;
    --col-white: #FFF; 
    --col-orange: #F58021;
    --bg-purple: #20113D;
    --font-main: 700px;
}

body {
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

img{
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    overflow: hidden;
}

section{
    padding: 48px 16px;
}

ul{
    list-style: none;
}

.header{
    width: 100%;
    position: sticky;
    background: var(--col-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    .logo{
    }
}

.nav, .nav-icons{
    display: none;
}

.burger_menu{
    position: relative;
    width: 32px;
    height: 24px;
}

#burger-tg{
    display: none;
}

.burger-btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .span{
        height: 3px;
        width: 100%;
        border-radius: 2px;
        transition: 0.3s ease;
        background-color: black;
    }
}

#burger-tg:checked + .burger-btn span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  background: white;
}

#burger-tg:checked + .burger-btn span:nth-child(2) {
  opacity: 0;
}

#burger-tg:checked + .burger-btn span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  background: white;
}

#burger-tg:checked ~ .nav {
  display: flex;
}


@media (min-width: 640px){}