*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

:root{
    --col-green: #00A092;
    --col-white: #FFF; 
    --col-orange: #F58021;
    --bg-purple: #20113D;
    --font-main: 700px;
}

body {
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    overflow: hidden;
}

section{
    padding: 48px 16px;
}

ul{
    list-style: none;
}

.header{
    width: 100%;
    position: sticky;
    background: var(--col-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    .logo{
    }
}


@media (min-width: 640px){}