.popup-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.popup-overlay.active{
    opacity: 1;
    visibility: visible;
}

.popup{
    background: grey;
    width: min(90%, 500px);
    padding: 32px;
    border-radius: 16px;
    position: relative;
    text-align: center;
}

.popup h2 {
    margin-bottom: 16px;
}

.popup p {
    margin-bottom: 24px;
}

.popup-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}