:root{
    --col-green: #00A092;
    --col-white: #FFF; 
    --col-orange: #F58021;
    --bg-purple: #20113D;
    --font-main: 700;
    --font-mob: 600;
    --font-size-mob: 18px;
    --p-font: 400;
}

.popup-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.popup-overlay.active{
    opacity: 1;
    visibility: visible;
}

.popup{
    background: grey;
    width: min(90%, 500px);
    padding: 32px;
    border-radius: 16px;
    position: relative;
    text-align: center;
}

.popup h2 {
    margin-bottom: 16px;
}

.popup p {
    margin-bottom: 24px;
}

.popup-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-btn {
    background: var(--col-orange);
    color: white;
    padding: 14px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s ease;
}

.popup-btn:hover{
    opacity: 0.8;
}

.popup-btn.secondary{
    background: var(--col-green) ;
}

.popup-close{
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
}

.popup.together{
    background: #FFF;
}

.together-picture{
    background: url(./public/assets/images/PopUpPic.svg);
    height: 387px;
    width: 100%;
}

.popup-headline{
    font-weight: var(--font-mob);
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: var(--col-orange);
}

.popup-paragraph{
    font-size: 18px;
    line-height: 150%;
    color: black;
}

.popup-list{
    display: flex;
    align-items: flex-start;
    gap: 1em;
    li{
        background-color: var(--col-green);
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }
}